#clients {
	padding: 2rem 1rem;

	& .cardinal-number {
		color: $secondary-color;
	}
}

.client-link {
	&:not(:last-of-type) > .client-logo {
		margin-bottom: 3rem;
	}

	&:focus > .client-logo {
		@include quaternary-state;
	}
}

.client-logo {
	width: 100%;

	&:hover {
		@include quaternary-state;
	}

	@include respond-to-width(600px) {
		width: 70%;
		margin: 0 auto;
	}
}
