// Header
header {
	z-index: 100;
	position: sticky;
	top: 0;
	box-shadow: $secondary-shadow;
	padding: 1rem;
	background-color: $primary-color;
	color: $secondary-color;
}

.logo-img {
	width: 2rem;
	height: 100%;
	// transition: width 300ms ease;

	&:hover {
		// @include pop-on-hover;
	}

	@include respond-to-width(1024px) {
		margin-right: 1rem;
	}
}

.logo:focus .logo-img {
	// @include pop-on-hover;
}

#header-box {
	@include flex-layout(row, nowrap);
	@include flex-alignment(center, center);
}
