#profile {
	padding: $primary-padding;
	color: $secondary-color;

	& h2 {
		align-self: flex-start;
		color: $tertiary-color;
	}

	& .cardinal-number {
		color: $secondary-color;
	}
}

.profile-box,
.downloader {
	border: $primary-border;
	box-shadow: $primary-shadow;
	width: 8.5rem;
	padding: 0.5rem 0;
	background-color: $primary-color;
	color: $secondary-color;
	font-size: 1.2rem;
	text-align: center;
}

.downloader {
	margin-top: 2rem;

	&:hover,
	&:focus {
		@include tertiary-state;
	}
}

.profile-box {
	&::after {
		z-index: -1;
		content: '';
		position: absolute;
		left: 50%;
		width: 0.125rem;
		margin-top: 2rem;
		background: $primary-color;
	}

	&:nth-of-type(1)::after {
		height: 40rem;
	}

	&:nth-of-type(2) {
		margin-top: 2rem;
	}

	&:nth-of-type(2)::after {
		height: 25.2rem;
	}

	@include respond-to-width(1082px) {
		&:nth-of-type(2)::after {
			height: 20rem;
		}
	}
}

.container {
	@include flex-layout(row, nowrap);
}

.period {
	position: relative;
	width: 8rem;
	height: 1.9rem;
	margin: 2rem 0.5rem 0 0;
	padding: 0.5rem;
	background-color: $tertiary-color;
	font-size: 0.9rem;
	text-align: center;

	&::before,
	&::after {
		content: '';
		position: absolute;
		border-style: solid;
		border-color: transparent rgb(0, 0, 0);
	}

	&::before {
		border-width: 0.5rem 0 0.5rem 1.125rem;
		top: 0.5rem;
		right: -0.625rem;
	}

	&::after {
		border-width: 0.3125rem 0 0.3125rem 0.9375rem;
		top: 0.8rem;
		right: -0.1875rem;
	}
}

.wrapper {
	width: 9.4rem;

	@include respond-to-width(1082px) {
		width: auto;
	}
}

.role {
	position: relative;
	margin: 2.3125rem 0 0 1.75rem;
	color: $primary-color;

	&::before {
		position: absolute;
		top: 30%;
		left: -1.5rem;
		content: '';
		width: 0.5rem;
		height: 0.5rem;
		background: $primary-color;
	}
}

.first-role {
	margin-top: 1.8125rem;

	@include respond-to-width(1082px) {
		margin-top: 2.3rem;
	}
}

.place {
	margin-left: 1.75rem;
	color: $tertiary-color;
	font-size: 1rem;
}

#experience {
	@include respond-to-width(1082px) {
		margin-left: 8rem;
	}
}

#education {
	// 1082 is the breaking point where description text gets to one line.
	@include respond-to-width(1082px) {
		margin-left: 16.15rem;
	}
}
