// Showcase
#showcase {
	width: auto;
	height: calc(100vh - 10.2rem);
	background: url(../img/showcase-mobile.svg) no-repeat center center/cover;
	animation: bg-image 4000ms forwards;

	@include respond-to-width(768px) {
		background: url(../img/showcase-tablet.svg) no-repeat center center/cover;
	}

	@include respond-to-width(1024px) {
		height: calc(100vh - 10.8rem);
		background: url(../img/showcase-desktop.svg) no-repeat center center/cover;
	}
}

@keyframes bg-image {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
