#contact-icons {
	padding: 1.85rem 1rem;
}

.connect-icon {
	color: $primary-color;
	font-size: 2rem;
}

.connect-icon:hover,
.connect:focus > i {
	@include secondary-state;
}

.icon-linkedin:before {
	content: '\eac9';
}

.icon-github:before {
	content: '\eab0';
}

.icon-phone:before {
	content: '\e942';
}

.icon-whatsapp:before {
	content: '\ea93';
}
