.info-box {
	outline: 1px solid $secondary-color;
	@include flex-column-center;
	width: 100%;
	height: fit-content;
	min-height: 40vh;
	margin-bottom: 1rem;
	padding: 1rem;

	@include respond-to-width(600px) {
		min-height: 30vh;
	}
}

#intro {
	& .description {
		color: $primary-color;
	}

	& .info-box:first-of-type {
		margin-top: 1rem;
	}
}

#services .info-box {
	outline: 1px solid $tertiary-color;
	color: $primary-color;
}

.description {
	margin-top: 1rem;
	color: $tertiary-color;
}
