// @font-faces:
// Icons
@font-face {
	font-family: 'Icomoon';
	src: url('../fonts/icomoon.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
	font-family: 'Icomoon';
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
}

@font-face {
	font-family: 'Varela Round';
	src: url('../fonts/VarelaRound-Regular.woff') format('woff');
}

@font-face {
	font-family: 'Varta Regular';
	src: url('../fonts/Varta-Regular.woff') format('woff');
}

// All fonts declared:
html {
	font-family: 'Varela Round';
}

input,
select,
textarea,
button {
	color: inherit;
	font-family: inherit;
	font-size: inherit;
	text-align: center;
}

h2 {
	display: inline-block;
	margin-bottom: 2rem;
	font-size: 1.3rem;
}

h3 {
	margin: 1rem 0;
	font-size: 1rem;
}

p {
	font-family: 'Varta Regular';
	font-size: 1.1rem;
	line-height: 1.5;
}

#intro {
	text-align: justify;
}

.info-box {
	font-size: 1.5rem;
	text-align: center;
}

.info-box-icon {
	font-size: 1.5rem;
}

.service {
	font: 600 1.5rem 'Varela Round';

	@include respond-to-width(600px) {
		font-size: 2rem;
	}
}

.description {
	@include respond-to-width(600px) {
		font-size: 1.3rem;
	}
}

.profile-box,
.downloader {
	font-size: 1.2rem;
	text-align: center;
}

.period {
	font-size: 0.9rem;
	text-align: center;
}

.role {
	font-family: 'Varela Round';
}

.place {
	font-size: 1rem;
}

#skills {
	text-align: justify;
}

.project-title {
	font-family: 'Varela Round';
}

#footer {
	font-size: 1rem;
	font-weight: 600;
	text-align: center;
}
