// Colors
$primary-color: rgb(228, 49, 49);
$secondary-color: rgb(255, 255, 255);
$tertiary-color: rgb(4, 14, 20);
$quaternary-color: rgb(165, 165, 165);

// Paths
$primary-path: polygon(0 0, 0% 100%, 100% 0);
$secondary-path: polygon(100% 0, 0% 100%, 100% 100%);

// Borders
$primary-border: 1px solid $secondary-color;

// Shadows
$primary-shadow: 0 0 0 5px $primary-color;
$secondary-shadow: 5px 5px 30px $tertiary-color;

// Padding
$primary-padding: 1.2rem 1rem 1rem 1rem;

// Fills
$primary-fill: 90%;
$secondary-fill: 80%;
$tertiary-fill: 50%;

// Buttons
$button-size: 2.75rem;
